* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #fbf7f7;
}

header {
  background-color: #ffffff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p1s {
  width: 40%;
  text-align: left;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}
.btn-tertiary .btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(247, 246, 246, 0.2), rgba(79, 11, 252, 0.2)),
    url("your-hero-image.jpg") center/cover no-repeat;
}

.hero-content {
  text-align: center;
  color: #000000;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn-secondary {
  background-color: #000000;
  color: #333;
}
.btn-secondary {
  color: #ffffff;
}
rgb(255, 255, 255) footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
